<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1> Confira esse produto:</h1>
    

        <!--  ! => Operador NOT: verifica se o valor é falso  -->
    <% if (!produto) { %>
        <%produtos.forEach(produto => { %>
            <p><a href="/produtos/<%=produtos%>"><%= produto%></a></p>
        <% }); %>
        <p> <%=produtos%> </p>
    <% } else { %>
        <p><%=produto%></p>
    <% } %>



    <hr>
    <p>Faça seu pedido agora!</p>
</body>
</html>